@font-face {
	font-family: Sorny;
	src: url("Sorny-Regular.ttf");
}

@font-face {
	font-family: AntiqueLegacy;
	src: url("Antique-Legacy-Medium.woff");
}

::selection {
    background: black;
    color: white;
    text-shadow: none;
}

::-moz-selection {
    background: black;
    color: white;
    text-shadow: none;
}

* {
	font-family: Sorny;
	font-size: 60px;
	text-align: center;
}

body {
	background-color: white;
}

.column {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	padding: 2rem;

	overflow: scroll;
}

table {
	position: relative;

	height: auto;
	width: 100%;
	/*margin-bottom: 2rem;*/

	border: 0px solid white;
}

tr {
	vertical-align: middle;

	height: calc(100vh - 4rem);
	width: calc(100vw - 4rem);
}

.enter {
	display: none;
}

.confirm {
	font-family: AntiqueLegacy, sans-serif;
	font-size: 0.25rem;

	padding: 0.1rem 0.15rem 0.15rem 0.15rem;

	outline: solid 1px black;
}

.confirm:hover {
	cursor: alias;
}

th,
td {
	font-weight: normal;
}

.large {
	line-height: 1rem;
	letter-spacing: -0.02rem;
}

.small, a {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 0.25rem;
	letter-spacing: 0rem;

	color: black;
}

a:hover {
	cursor: alias;
}

.missing-numbers, .concrete {
	font-family: AntiqueLegacy, sans-serif;
}

.hovbox {
	position: fixed;
	height: 0.75rem;
	width: 0.75rem;
	padding: 5px 5px 4px 5px;

	display: none;
}

.hovbox.bye-concrete {
	background-color: black;
	mix-blend-mode: multiply;
}

.hovbox.download {
	background-color: red;
	outline: black 1px solid;
}

.hovtext.light {
	color: black;
}

.hovtext {
	font-family: AntiqueLegacy, sans-serif;
	font-weight: bold;
	font-size: 0.15rem;
	line-height: 0.15rem;
	letter-spacing: 0rem;

	display: inline-block;
	vertical-align: middle;
	margin-top: -0.6rem;

	color: white;
}




audio {
	position: fixed;
}

audio::-webkit-media-controls {
	display: none;
}




/*IMAGES*/

img {
	width: 100%;
	margin: 0;
}

.bg-img-wrapper {
	position: fixed;
	width: calc(100vw - 9rem);
	height: calc(100vh - 9rem);
	top: 0;
	left: 0;
	margin: 4.5rem;

	text-align: center;

	z-index: -100;
}

.bg-img {
	display: none;
	height: 100%;
	width: auto;
	margin: auto;
}

img.reg {
	padding: 4.5rem;
}

img.reg.vert {
	height: calc(100vh - 9rem);
	width: auto;
}

img.reg.hori {
	height: auto;
	width: calc(100% - 9rem);
}

img.reg.wide {
	padding-bottom: 1.6rem;
}


iframe {
	width: calc(100% - 9rem);
	height: 21.3vw;
	margin: 0rem;
}

.hoverimg {
	display: none;
	position: fixed;

	height: 26rem;
	width: auto;

	z-index: 1;
}

.hoverimg.left {
	transform: translate(16px,-50%);
}

.hoverimg.right {
	transform: translate(-103%,-50%);
}

.hoverimg.vert {
	height: 40rem;
}




